body{
    background-color: #212121;
    color: aliceblue;
}

.center{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock{
    font-size: 30px;
    background-color: rgb(177, 229, 212);
    color: #212121;
    padding: 20px 45px;
    margin: 0px;
    border-radius: 10px;
}